:root {
	--displayPatient: block;
	--slotPadding: 8px;
	--headerFontSize: 12px;
	--gridFontSize: 12px;
	--borderSize: 1px;
	--borderSizeBold: 2px;
	--leftWidth: 40px;
	--topHeight: 100px;
	--dateHeight: 30px;
	--doctorHeight: 40px;
	--slotWidth: 200px;
	--hourHeight: 100px;
	--borderColor: #dfe1e6;
	--borderColorDark: #dfe1e6;
	--selectionBorderColor: #2d8dcc;
	--selectionAreaColor: #2d8dcc1a;
	--selectionColor: #4587df3a;
	--gridBackgroundColor: #f4f5f7;
	--gridTextColor: #7a869a;
	--topLeftBackgroundColor: #f4f5f7;
	--slotHoverColor: #3bbea50d;
	--slotBookedColor: #d7f2ed;
	--slotAcceptedColor: #13a59b;
	--slotArrivedColor: #67ccc5;
	--slotNotArrivedColor: #dfe1e6;
	--slotDoneColor: #2a5369;
	--slotCancelledColor: #f4f5f7;
	--slotEmptyColor: #ffffff;
	--divTableHeight: 100%;
	--divTableWidth: 100%;
}

@font-face {
	font-family: "MyriadGEOMedium";
	src: url("fonts/MYRIADGEOMEDIUM.TTF");
}

@font-face {
	font-family: "MyriadGEOBold";
	src: url("fonts/MYRIADGEOBOLD.TTF");
}

html,
body {
	font-family: MyriadGEOMedium, Consolas;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
}

html {
	overflow: visible;
}

.selection-area {
	background: var(--selectionAreaColor);
	border: var(--borderSize) solid var(--selectionBorderColor);
}

.div-table {
	display: table;
	width: var(--divTableWidth);
	height: var(--divTableHeight);
}

.div-row {
	display: table-row;
}

.div-cell {
	display: table-cell;
	margin: 0;
	user-select: none;
	-webkit-user-select: none;
	position: relative;
}

.leftcol {
	width: var(--leftWidth);
	position: -webkit-sticky;
	position: sticky;
	left: 0;
}

.toprow {
	height: var(--topHeight);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10 !important;
}

.toprowleftcol {
	background-color: var(--topLeftBackgroundColor) !important;
	z-index: 10 !important;
}

.topleftblock {
	height: calc(var(--topHeight) + var(--borderSize));
	width: calc(var(--leftWidth) + var(--borderSize));
	border: var(--borderSize) solid var(--borderColorDark);
	border-right: var(--borderSizeBold) solid var(--borderColorDark);
	/* border-left: var(--borderSize) solid var(--borderColorDark);
	border-top: var(--borderSize) solid var(--borderColorDark); */
	border-bottom: var(--borderSizeBold) solid var(--borderColorDark);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.times {
	z-index: 2 !important;
}

.container {
	z-index: 1 !important;
	background-color: #dfe1e6;
}

.header {
	position: absolute;
	border: var(--borderSize) solid var(--borderColorDark);
	border-right: var(--borderSizeBold) solid var(--borderColorDark);
	/* border-left: var(--borderSize) solid var(--borderColorDark);
	border-top: var(--borderSize) solid var(--borderColorDark); */
	border-bottom: var(--borderSizeBold) solid var(--borderColorDark);
	background-color: var(--gridBackgroundColor) !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.doctor {
	top: var(--dateHeight);
	/* height: calc(var(--topHeight) - var(--dateHeight) + var(--borderSize)); */
	height: calc(var(--doctorHeight) + var(--borderSize));
	width: calc(var(--slotWidth) + var(--borderSize));
	text-align: center;
	font-size: var(--headerFontSize);
	font-weight: bold;
	font-family: MyriadGEOBold, Consolas;
	letter-spacing: 0px;
	color: var(--gridTextColor);
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.department {
	top: calc(var(--dateHeight) + var(--doctorHeight));
	height: calc(var(--topHeight) - var(--dateHeight) - var(--doctorHeight) + var(--borderSize));
	width: calc(var(--slotWidth) + var(--borderSize));
	text-align: center;
	font-size: var(--headerFontSize);
	letter-spacing: 0px;
	color: var(--gridTextColor);
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.date {
	top: 0;
	height: calc(var(--dateHeight) + var(--borderSize));
	font-size: var(--headerFontSize);
	font-weight: bold;
	font-family: MyriadGEOBold, Consolas;
	letter-spacing: 0px;
	color: var(--gridTextColor);
	opacity: 1;
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

.time {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0px;
	color: var(--gridTextColor);
	opacity: 1;
	position: absolute;
	border: var(--borderSize) solid var(--borderColor);
	border-right: var(--borderSizeBold) solid var(--borderColorDark);
	border-left: var(--borderSize) solid var(--borderColorDark);
	background-color: var(--gridBackgroundColor) !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left: 0px;
	width: calc(var(--leftWidth) + var(--borderSize));
	height: calc(var(--hourHeight) + var(--borderSize));
}

.slot-grid {
	position: absolute;
	background-color: var(--slotEmptyColor);
	border: var(--borderSize) solid var(--borderColor);
	border-right: var(--borderSizeBold) solid var(--borderColorDark);
	border-left: var(--borderSize) solid var(--borderColorDark);
	cursor: pointer;
	padding: 1px;
	width: calc(var(--slotWidth) + var(--borderSize));
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.slot {
	position: relative;
	opacity: 1;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: var(--slotPadding);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.slot-booked {
	background-color: var(--slotBookedColor);
}

.slot-accepted {
	background-color: var(--slotAcceptedColor);
}

.slot-arrived {
	background-color: var(--slotArrivedColor);
}

.slot-notarrived {
	background-color: var(--slotNotArrivedColor);
}

.slot-done {
	background-color: var(--slotDoneColor);
}

.slot-cancelled {
	background-color: var(--slotCancelledColor);
}

.slot-layer {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.slot-layer:hover {
	background-color: var(--slotHoverColor) !important;
}

.selected {
	border: var(--borderSizeBold) solid #4587df;
	border-right: var(--borderSizeBold) solid #4587df;
	border-left: var(--borderSizeBold) solid #4587df;
	z-index: 10;
}

.selected > .slot-layer,
.selected > .slot-layer:hover {
	background: var(--selectionColor) !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.centered-text {
	margin: auto auto;
}

.slot-time {
	font-size: var(--gridFontSize);
	font-weight: normal;
	float: left;
}

.slot-type {
	float: left;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	margin-top: 2px;
}

.slot-insurance {
	float: left;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	margin-top: 2px;
}

.slot-patient {
	position: absolute;
	right: var(--slotPadding);
	float: right;
	font-size: var(--gridFontSize);
	font-weight: bold;
	font-family: MyriadGEOBold, Consolas;
	display: var(--displayPatient);
}

.slot-pregnant {
	background-image: url("images/pregnant.png") !important;
}

.slot-not-pregnant {
	background-image: url("images/notpregnant.png") !important;
}

.slot-blacklist {
	background-image: url("images/blacklist.png") !important;
}

.date-sticky {
	position: relative;
	transition: all 0.2s ease 0s;
}

.contextMenuHiden {
	display: none;
}

.contextMenuVisible {
	display: block;
}

.menuItem {
	display: flex;
	height: 30px;
	align-items: center;
}

.menuItem > img {
	margin-left: 13px;
	margin-right: 10px;
}

#contextMenu {
	z-index: 11;
	position: absolute;
	background-color: white;
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 250px;
	font-size: 14px;
	box-shadow: 5px 5px 8px darkgrey;
}

#contextMenu div:not(.separator):hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #3bbea5 2px, #f4f5f7 2px);
}

#contextMenu .separator {
	background-color: darkgrey;
	height: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.menuItem > span {
	margin-right: 13px;
	white-space: nowrap;
	color: var(--gridTextColor);
}

.error {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7a869a;
}

.hidden {
	display: none !important;
}
